@import "~bootstrap/scss/bootstrap";

// APP SUPPORT
.App {
  text-align: center;

  // p {
  //   width: 80%;
  // }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// BOOTSTRAP OVERRIDES

// Button

// Accordion
.accordion {
  justify-content: center;
}

// $carousel-transition-duration: 2s;

.accordion-item {
  background-color: transparent;
  // margin: 14px;
  // width: 300px;

  // .accordion-collapse .collapse .show {
  //   // background-color: red !important;
  //   // width: 600px;
  // }
}

.accordion-button {
  color: #333 !important;
  background-color: rgba($color: #fff, $alpha: 0.5) !important;
  border-color: #6c757d;
  font-size: 20px !important;
  font-weight: 600;
}

.carousel {
  width: 100%;
  height: auto;
}

.carousel-inner {
  // background-color: red;
  // min-height: 80vh;
  padding-left: 10%;
  padding-right: 10%;
  p {
  }
}

.carousel-indicators {
  margin-bottom: -4rem;
}

// CAROUSEL 
.testCarousel {
  // background-color: plum;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

#slide1 {
  // background-color: seashell;
}

#slide2 {
  // background-color: lightcoral;
}

#slide3 {
  // background-color: wheat;
}

// GENERAL
.mycontainer {
  width: 80%;
}

.myaccordion {
  margin: 14px;
}

.mybutton {
  margin: 6px;
}

.flex {
  display: flex;
}

#home {
  background-color: #0162a8;

}

// TODO: make boxs for color palette
// COLOR PALETTE
// #box {
//   height: 100px;
//   width: 100px;
// }

// SECTIONS

.section {
  // background-color: #f01e1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

// Getting Started
#startwhatis {
  background-color: darkgoldenrod;
}

#startwhatdoes {
  background-color: brown;
}

#startsignup {
  background-color: blueviolet;
}

#startstatus {
  background-color: darkslategrey;
}

#startcontract {
  background-color: darksalmon;
}

#startterminate {
  background-color: salmon;
}

// Registration
#registersong {
  background-color: darkgoldenrod;
}

#registercatalog {
  background-color: firebrick;
}

#registerchange {
  background-color: darkgreen;
}

// Copyright
#copyrightperformance {
  background-color: brown;
}

#copyrightpaid {
  background-color: darkorchid;
}

#copyrightcheck {
  background-color: green;
}

#copyrightabout {
  background-color: blueviolet;
}

#copyrightipi {
  background-color: cadetblue;
}

#copyrightroyalty {
  background-color: darkgoldenrod;
}

#copyrightadvance {
  background-color: lightcoral;
}

// License
#licensepays {
  background-color: sandybrown;
}

#licenseisrc {
  background-color: chocolate;
}

#licenseunauth {
  background-color: darkgoldenrod;
}

// Publisher
#publisherneed {
  background-color: cadetblue;
}

#publishermma {
  background-color: brown;
}

#publisherforeign {
  background-color: burlywood;
}

#publisherregister {
  background-color: coral;
}

// BMI and you
#youartist {
  background-color: chocolate;
}

#youlive {
  background-color: mediumorchid;
}

#youlearn {
  background-color: khaki;
}

#youbetter {
  background-color: gold;
}

#youstatement {
  background-color: indianred;
}

#youcatalog {
  background-color: lightseagreen;
}

#youestate {
  background-color: darkviolet;
}

// Online services
#servicesonline {
  background-color: greenyellow;
}

#servicescontact {
  background-color: hotpink;
}

#servicesbank {
  background-color: dodgerblue;
}

#servicessongview {
  background-color: maroon;
}

// TEST SECTIONS
#question {
  // background-color: #0162a8;
  background-color: #f01e1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#question1 {
  background-color: mediumvioletred;
}

#question2 {
  background-color: pink;
}

#question3 {
  background-color: palevioletred;
}

#question4 {
  background-color: peru;
}

#question5 {
  background-color: plum;
}

#answer {
  // background-color: #0162a8;
  background-color: lightseagreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#anotheranswer {
  // background-color: #0162a8;
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#ipi {
  // background-color: #0162a8;
  background-color: goldenrod;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#estate {
  // background-color: #0162a8;
  background-color: darkslateblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#copyright {
  // background-color: #0162a8;
  background-color: burlywood;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#royalties {
  // background-color: #0162a8;
  background-color: forestgreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.copyright {
  width: 40%;
}

.royalties {
  width: 60%;
}

.groups {
  color: wheat;
  font-size: 12pt;
  text-decoration: none;
}

